#receiver_list {
  list-style: none;
  padding-left: 0px;
}

.receiver {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.album {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 110px;
  text-align: center;
}

.cast {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 6px;
}